######DOCUMENT-TEMPLATE######
Welcome, I am @@text@@
@@content@@

                   @@tail@@
######DOCUMENT-TEMPLATE######

######CONTENT-TEMPLATE######
>> @@title@@ <<

Contains 5 major functions:
@@list@@
    ...

Json straight out Sample: @@json sample@@
######CONTENT-TEMPLATE######

######TAIL-TEMPLATE######
--designed by @@text@@
######TAIL-TEMPLATE######